<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>servlet_down</servlet-name>
        <servlet-class>com.zdy.servlet.servlet_down</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AServlet</servlet-name>
        <servlet-class>com.zdy.servlet.AServlet</servlet-class>
        <init-param>
            <param-name>p1</param-name>
            <param-value>v1</param-value>
        </init-param>
        <init-param>
            <param-name>p2</param-name>
            <param-value>v2</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>BServlet</servlet-name>
        <servlet-class>com.zdy.servlet.BServlet</servlet-class>
    </servlet>

    <!--servlet_down-->
    <servlet-mapping>
        <servlet-name>servlet_down</servlet-name>
        <url-pattern>/servlet_down</url-pattern>
    </servlet-mapping>


    <!--AServlet-->
    <servlet-mapping>
        <servlet-name>AServlet</servlet-name>
        <url-pattern>/AServlet</url-pattern>
    </servlet-mapping>

    <!--BServlet-->
    <servlet-mapping>
        <servlet-name>BServlet</servlet-name>
        <url-pattern>/BServlet</url-pattern>
    </servlet-mapping>


    <context-param>
        <param-name>context-param</param-name>
        <param-value>context-value</param-value>
    </context-param>

</web-app>